html body {
    margin:0;
    padding:0;
}

.wrapper {
width: 1920px;
height: 2464px;
background: #F9F9F9;
display:grid;
grid-template-rows: auto 1fr auto;
font-family: 'Roboto', sans-serif;
margin:0;
padding:0;
}


.wrapper >div.header{
    height: 700px;
    background-color:#EEEFF1;
}

.wrapper >div.footer{ 
    height: 151px;
    background-color: #34547A;
    
}

.icons{
    height: 250px;
    background-color: #34547A;
}
.body{
    display: grid;
    grid-template-rows: 1fr auto auto;
}
.video{
height: 1004px;
background-color: #EEEFF1;
}

.header-menu{
    width:611px ;
    height: 16px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 79px;
    padding-left: 399px;
    font-size: 16px; 
}

.header-text{
    width:541px;
    height: 45px;
    font-size:48px;
    padding-top: 150px;
    padding-left: 399px;

}
.header-text2{
    width:540px;
    height: 67px;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 400px;
   
}
.golovna{
    color:#34547A;
}
.header p{
    color:#727272;
    line-height: 1.5;
}

.button{
    padding-top: 65px;
    padding-left: 399px;
}
.button-style{
    width:225px;
    height: 65px;
    background-color:#34547A;
    color: #FFFFFF;
}

.elements{
    display: flex;
    justify-content:center;
    padding-top: 90px;
    gap: 40px;
}
img{
    width:141px;
    height:50px;
}

.header-video {
    display: flex;
    justify-content:center;
    font-size:48px;
    text-align: center;
    padding-top: 55px;
}
.paragraph-video .paragraph-aboutme {
    font-size: 16px;
    display: flex;
    justify-content:center;
}

.video p {
    color:#727272;
    line-height: 1.5;
    text-align: center;
}

/*video iframe start*/
.video-position{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.video-content{
    position: relative;
    width: 1110px; 
    height: 600px;
    overflow: hidden;
    padding-top: 35px;
}

.video-content iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/*video iframe end*/

.aboutme{
    background: #F9F9F9;
}

.header-aboutme{
    display: flex;
    justify-content:center;
    font-size:48px;
    text-align: center;
    padding-top: 55px;
   
}

.aboutme p{
    color:#727272;
    line-height: 1.5;
    text-align: center;
}
.footer h1 {
   color: #FFFFFF; 
   font-size: 21px;
   padding-left: 399px;
   padding-top: 25px;
  
}
.footer p {
    color: #FFFFFF;
    padding-left: 399px;
    font-size: 13px;
   
}
/*MOBILE*/ /*MOBILE*/ /*MOBILE*/ /*MOBILE*//*MOBILE*/
@media screen and (max-width: 375px) {
    .wrapper
    {width: 100%;
    }

    .header-menu{
            width:30% ;
            height: 25%;
            display:grid;
            justify-content: left;
            padding-top: 5%;
            padding-left: 10%;
            font-size: 16px; 
        }
        .header-text{
            height: auto;
            font-size:48px;
            padding-top: 5%;
            padding-left: 10%;
        }
        .header p{
            color:#727272;
            line-height: 1.5;
            padding-left: 10%;
        }
        .button{
            padding-top: 5%;
            padding-left: 10%;
        }
        .header-aboutme{
            display:flex;
            justify-content: left;
            font-size:48px;
            padding-top: 5%;
            padding-left: 15%;   
        }
        .paragraph-aboutme {
            display: flex;
            font-size: 16px;
            justify-content: left;
            text-align: left;
            padding-left: 10%;
            
        }
        .elements{
            display:grid;
            grid-template-columns: 15% 15% 15%;
            grid-template-rows: 15%  15%  15% ;
            justify-content: center;
            padding-right: 40%;
            padding-top: 6%;
        }
    
        img{
            width: 110px;
            height:45px;
        }
       .header-video {
            display:flex;
            justify-content: left;
            font-size:48px;
            padding-top: 5%;
            padding-left: 15%; 
        }
        .paragraph-video {
            display: flex;
            font-size: 16px;
            justify-content: left;
            text-align: left;
            padding-left: 10%;
          }
        .video p {
            font-size: 16px;
            text-align: left;
            
            
        }
        .video-position{
            display: flex;
            justify-content: center;
            width: 50%;
            align-items: center;
        }
        
        .video-content{
            position: relative;
            width: 1100px; 
            height: 300px;
            padding-top: 100px;
            padding-left: 15%;
        }
        
        .video-content iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
        .footer h1 {
            color: #FFFFFF; 
            font-size: 21px;
            padding-left: 10%;
            padding-top: 25px;
           
         }
        .footer p {
            color: #FFFFFF;
            padding-left: 10%;
            font-size: 13px;
           
        }
    }
    

