.wrapper {
width: 1920px;
height: 2464px;
top: -2580px;
left: -960px;
gap: 0px;
opacity: 0px;
background: #F9F9F9;
display:grid;
grid-template-rows: auto 1fr auto;
font-family: 'Roboto', sans-serif;
}

.wrapper >div.header{
    height: 700px;
    background-color:#EEEFF1;
}

.wrapper >div.footer{ 
    height: 151px;
    background-color: #34547A;
    
}

.icons{
    height: 250px;
    background-color: #34547A;
}
.body{
    display: grid;
    grid-template-rows: 1fr auto auto;
}
.video{
height: 1004px;
background-color: #EEEFF1;
}

.header-menu{
    width:611px ;
    height: 16px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 79px;
    padding-left: 399px;
    font-size: 16px; 
}

.header-text{
    width:541px;
    height: 45px;
    font-size:48px;
    padding-top: 150px;
    padding-left: 399px;

}
.header-text2{
    width:540px;
    height: 67px;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 400px;
   
}
.golovna{
    color:#34547A;
}
.header p{
    color:#727272;
    line-height: 1.5;
}

.button{
    padding-top: 65px;
    padding-left: 399px;
}
.button-style{
    width:225px;
    height: 65px;
    background-color:#34547A;
    color: #FFFFFF;
}

.elements{
    display: flex;
    justify-content:center;
    padding-top: 90px;
    gap: 40px;
}
img{
    width:141px;
    height:50px;
}

.header-video {
    display: flex;
    justify-content:center;
    font-size:48px;
    text-align: center;
    padding-top: 55px;
}
.paragraph-video .paragraph-aboutme {
    font-size: 16px;
    display: flex;
    justify-content:center;
}

.video p {
    color:#727272;
    line-height: 1.5;
    text-align: center;
}

/*video iframe start*/
.video-position{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.video-content{
    position: relative;
    width: 1110px; 
    height: 600px;
    padding-bottom: 56.25%; 
    overflow: hidden;
    padding-top: 35px;
}

.video-content iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/*video iframe end*/

.header-aboutme{
    display: flex;
    justify-content:center;
    font-size:48px;
    text-align: center;
    padding-top: 55px;
}

.aboutme p{
    color:#727272;
    line-height: 1.5;
    text-align: center;
}
.footer h1 {
   color: #FFFFFF; 
   font-size: 21px;
   padding-left: 399px;
   padding-top: 25px;
  
}
.footer p {
    color: #FFFFFF;
    padding-left: 399px;
    font-size: 13px;
   
}
